* {
    box-sizing: border-box;
}
body { 
	background: #e9ffe4; 
}
h1, h2, h3, p {
	text-align: center;
	color: #420413;
	font-size: 24px;
	margin: 50px;
	font-family: 'Noto Serif JP', sans-serif;
	max-width: 200px;
}
